:root {
  --primary-1: #3498db;
  --primary-2: #2980b9;
  --danger-1: #e74c3c;
  --danger-2: #c0392b;
  --success-1: #2ecc71;
  --success-2: #27ae60;

  --gray-1: #f6f6f6;
  --gray-2: #ddd;
  --gray-3: #5f6368;
  --gray-4: #34495e;

  --border: 1px solid var(--gray-3);
  --border-radius: 4px;

  --font-family: "Roboto", sans-serif;
  --font-size: 15px;

  --background-color-1: #202124;

  --text-primary-color: #e7e9ec;
  --text-secondary-color: #9aa0a6;

  --hover-text-color: #81a9e7;
  --hover-background-color-1: #384357;
  --hover-background-color-2: #252729;
  --hover-background-color-3: #3c4043;

  --button-radius: 15px;
}

//input

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

input {
  background-color: var(--background-color-1);
  border: none;
  color: var(--text-primary-color);
  font-family: var(--font-family);
  width: 30px;
  font-size: 18px;
  font-weight: 400;
}

//button

.btn {
  background-color: var(--background-color-1);
  color: var(--text-secondary-color);
  border: var(--border);
  border-radius: var(--button-radius);
}

.btn-header {
  @extend .btn;
  height: 49px;
  border: none;
  border-radius: none;
  &:hover {
    color: var(--text-primary-color);
    background-color: var(--hover-background-color-2);
  }
}

.btn-primary {
  @extend .btn;
  &:hover {
    color: var(--hover-text-color);
    background-color: var(--hover-background-color-1);
    border-color: var(--hover-text-color);
  }
}

.btn-shop-product {
  // @extend .btn-primary, .d-flex, .align-center, .justify-center;
  &:hover {
    color: var(--text-primary-color);
    background-color: var(--hover-background-color-1);
    border-color: var(--text-primary-color);
  }
  height: 20px;
  width: 20px;
}

//reset

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 100;
  color: var(--text-primary-color);
  background-color: var(--background-color-1);
}

//flex

.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-flex-center {
  @extend .d-flex, .justify-center, .align-center;
}

//padding

.p-0 {
  padding: 0px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

//padding-right

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

//padding-right

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

//margin

.m-0 {
  margin: 0px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

//margin right

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

//margin left

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

//margin bottom

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

//margin top

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

//icons

.icons {
  color: var(--text-primary-color);
  &:hover {
    color: var(--hover-text-color);
    cursor: pointer;
  }
}

//animations

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
